body{
    background-image: url('kara1.png');
    background-size: cover;
    background-repeat: no-repeat;
}
*{
    text-decoration: none;
}
.nav{
    width: 100%;
    padding: 0px 2px;
    padding-right: -200px;
}
.center{
    text-align: center;
    padding: 10%;
}
.loGo{
        float:left;
        word-spacing:10px;
}
.loGo1{
    float:right;
    word-spacing:10px;
}
button{
    margin: 0,auto;
    text-align: center;
    align-items: center;
    margin-left: 550px;
    height: 50px;
    border-radius: 20px;
    width: 200px;
}
