
.corner{
    text-align:left;
    padding: 10px;
    font-size: large;
}
.pa {
    width: 600px;
}
button{
    margin-left:170px;
    height: 55px;
    border-radius: 20px;
    width: 100px;
    text:white;
}
.poto {
    float: right;
}
.a {
    margin-top:-400px;
}
.logo1 {
    text-align: left;
    width: 200px;
}
.logo2 {
    width:200px;
    text-align: center;
    margin-top:-170px;
}
.logo3 {
    width: 200px;
    margin-left:1100px;
    margin-top:-170px;
}
.about{
    margin-left: 100px;
    margin-top: 50px;
    width: 600px;
}
.about img{
    margin-left: 1150px;
    margin-top: -200px;
    height:150px;
    width: 250px;
}
.nav{
    float:left;
    background-color: blueviolet;
    height: 170px;
    width: 1500px;
}
.para{
    float: right;
    display: block;
    margin-right:200px;
    margin-top:-90px;
}
.a2{
    display:block;
}
.b2{
    display: block;
}
.link{
    float: right;
    display: block;
    margin-left:1300px;
    margin-top: -120px;
}
.a3{
    display: block;
}
.b3{
    display: block;
}