body{
    background-color: blueviolet;
}
@media (max-width:520px){

    .class1{
        color: red;
        font-size: 40px;
        line-height: 50px;
    }
    
}
.bird{
    height: 100px;
    width: 150px;
}
@media only screen and(min-width:521px)and (max-width:1000px){
    .class1{
        color: chartreuse;
    }
    .para{
        color: aqua;
    }
}