p{
    color: rgb(16, 35, 23);
}
h5{
    color: green;
}
img{
    height: 70vh;
    width:100%;
}
.carousel .carousel-indicators button{
    height:30px;
    width: 30px;
    border-radius: 50%;
    background-color: greenyellow;
}