.icon1 {
    height: 60px;
    width: 60px;
}

.icon2 {
    height: 50px;
    width: 50px;
    background-color: #202b36;
    border-radius: 30px;
}

.second {
    text-align: justify;
}

.third {
    text-align: justify;
}

.foot {
    background-color:black;
    text-align: center;
    color: wheat;
    border: 1px solid #19232d;
    font-size: 20px;
}
.main{
    background-color: #19232d;
    color: wheat;
}