.pic{
    margin: 30px;
    margin-top: 10px;
}
.pic1{
    margin:30px;
    margin-top: 10px;
}
.pic2{
    margin:30px;
    margin-top: 10px; 
} 
.caro{
    width: 50%;
}
.vid1{
    margin: 30px;
    border-radius: 20px;
}
.vid2{
    margin: 30px;
    border-radius: 20px;
}
.vid{
    margin: 30px;
    border-radius: 20px;
}
.abo{
    color: #9aa5b1;
}