@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Heebo", sans-serif;
    font-family: "Poppins", sans-serif;
}

.navbar {
    width: 99.5%;
    position: sticky !important;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 5px 8px rgb(19, 8, 66);
    z-index: 10;
}

.nav-link {
    color: white !important;
    border-bottom: 2px solid transparent;
}

.nav-link:hover {
    background-color: greenyellow;
    border-bottom: 2px solid red;
    transform: scale(1, 1);
}

.link {
    margin-right: 20px;
}

section {
    width: 100%;
    min-height: 100vh;
}

/* Home Section */

#home {
    width: 99.5%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(kk.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    display: flex;
    align-items: left;
    color: yellow;
    flex-direction: column;
}

.am{
    margin-left:100px;
    margin-top: 300px;
    font-size: 4em;
}
.web{
    margin-left: 10px;
    margin-top: 30px;
    font-size: 4em;
}
span{
    color:whitesmoke;
}
.am:hover{
    transform: rotate(360deg);
    transition: 3s;
}
.web:hover{
    transform: skewX(-8deg);
    transition: 0.8s;

}


@media screen and (max-width: 576px) {
    #home p {
        font-size: 30px;
    }
}

/* About Section */

#about {
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_bg {
    width: 700px;
    height: 300px;
}

.about_bg h2 {
    color: darkred;
}

.about_bg p {
    color: rgb(67, 19, 170);
}

.about_bg:hover {
    width: 800px;
    height: 400px;
    transform: scaleX(1);
    transition: 1s;
    box-shadow: 0px 0px 22px 18px rgb(75, 204, 233);
}

.about_bg:hover .about_content {
    position: absolute;
    top: 12%;
    width: 70%;
    left: 10%;
    font-size: 20px;
}

@media screen and (max-width: 576px) {
    #about {
        background-color: rgb(176, 103, 26);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* ---Skill section---- */ 
#skills{
    background-color: rgb(191, 157, 239);
    width: 99.5%;
    overflow: hidden;
}

.skill1{
    font-size: 2em;
    text-align: center;
}
.skills1{
    border-radius: 20px;
    color: brown;
    text-align: center;
    background-color: rgb(191, 197, 131);
}
.skill2{
    text-align: center;
    font-size: 2em;
}
.skills2{
    border-radius: 20px;
    color: brown;
    text-align: center;
    background-color: rgb(191, 197, 131);
}
.skill3{
    text-align: center;
    font-size: 2em;
    z-index: 1;
}
.skills3{
    border-radius: 20px;
    color: brown;
    text-align: center;
    background-color: rgb(191, 197, 131);
}

.align{
    height: 300px;
    /* width: 350px; */
    border-radius: 20px;
    /* margin: 30px; */
    
}
.align:hover{
    background-color: aquamarine;
    transform: scale(1.1);
    transition: .5s;
    z-index: 1;
}


/* Certificate Section */

#certificate_main {
    background-color: rgb(237, 175, 199);
    width: 100%;
}
.certificate1{
    margin-left: 30px;
    background-color: #8418e2;
}
.certificate1:hover{
    transform: scale(1.2);
    transition: 0.5s;
    background-color: aqua;
    z-index: 1;
}
.certificate2{
    margin-left: 60px;
    background-color: #8418e2;
}
.certificate2:hover{
    transform: scale(1.2);
    transition: 0.5s;
    background-color: aqua;
    z-index: 1;
}
.certificate3{
    margin-left: 70px;
    background-color: #8418e2;
}
.certificate3:hover{
    transform: scale(1.2);
    transition: 0.5s;
    background-color: aqua;
    z-index: 1;
}
.certificate4{
    margin-left: 30px;
    background-color: #8418e2;
}
.certificate4:hover{
    transform: scale(1.2);
    transition: 0.5s;
    background-color: aqua;
    z-index: 1;
}
.certificate5{
    margin-left: 70px;
    background-color: #8418e2;
}
.certificate5:hover{
    transform: scale(1.2);
    transition: 0.5s;
    background-color: aqua;
    z-index: 1;
}
.certificate6{
    margin-left: 90px;
    background-color: #8418e2;
}
.certificate6:hover{
    transform: scale(1.2);
    transition: 0.5s;
    background-color: aqua;
    z-index: 1;
}
.row {
    width: 99%;
    
}

/* Contact Section */
#contact {
    background-color: #ababab;
    height: 150vh;
}
.container {
    padding-top: 120px;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #d7143b;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #1db120;
    display: inline-block;
    transform: 0.5s;
}

.social-icons a:hover {
    color: #8418e2;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #dba12d;
}

form input,
form textarea {
    width: 99.5%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}