.main{
    height:1000px;
    width: 100%;
    background-color: #323f4b;
}
.image1{
    height: 350px;
    width: 350px;
}
.but{
    width:50px;
}
.grey{
    background-color: #3e4c59;
    border-radius: 20px;
  
}
.tcolor{
    color:darkgrey

}
.card-img-top{
     object-fit:contain;
}