.font{
    color: blue;
}
.center{
    color:lightseagreen;
}
.email{
    background-color: aqua;
    color: blue;
    width: 50%;
}
.work{
    background-color: black;
    color: gainsboro;
    width: 50%;
}