.back{
    background-color: #fb4e71;
}
.topic{
    background-color: aquamarine;
    margin-top: -10px;
}
.video{
    background-color: aquamarine;
    padding:-10px;
}
.btn{
    margin-left: 500px;
    margin-top: 10px;
}
.ipl{
    padding: 10px;
} 